/* .f-container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  flex-direction: center;
}
.footer {
  display: flex;
  flex-flow: wrap-reverse;
}
.f-item1 {
  padding: 30px;
  margin: 30px;
  height: 0px;
  width: 0px;
  /* background-color: #bbb; */
/* border-radius: 50%; */
/* } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bbb;
}
.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.id{
  height: 30vh;
  width: 50%;

}

.child1 {
  text-align: center;
  flex: 1;
}

.parent .child3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* height: 90vh; */
  flex-wrap: wrap;
  align-items: center;
  flex: 3;
}

.parent .child2 {
  flex: 6;
  
  
  
}
.child2 .img {
  
  object-fit: fill;
  border: 1px solid rebeccapurple;
  height: 60vh;
  width: 100%;
  flex: 1;
  
}

.child3 #red {
  background-color: #ee1212;
}
#green {
  background-color: #5ceb1a;
  color: #5ceb1a;
}
#yellow {
  border-color: #f7d61d;
  background-color: #f7d61d;
}

.parent .child3 .button {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.child2 #car1{
position: absolute;
top:367px;

}

